<!-- <div class="header">
    <h1> WIKI SEARCH </h1>

</div>

<app-input></app-input> -->


<!-- Image and text -->
<!-- <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
     WIKI search
    </a>
  </nav> -->


  <!-- <div class="container"  style="width:100%;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">WIKI SEARCH</a>
    </nav>
  </div> -->

  <!-- <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZf3b56_rOKbg1cK8NLfDlvFwDqzqOXJrD2w&usqp=CAU" width="30" height="30" alt="">
    </a>
  </nav> -->
  <!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <div class="navbar-brand" href="#">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSehVepJ9QapJb6crQL4Mnpcm0RcUhVydWIqw&usqp=CAU" width="80" height="55" class="d-inline-block align-top" alt="">
    <div class="header-name"> WIKI SEARCH</div>  
    </div>
  </nav>

